.portalRoot {
    height: 100%;
    display: flex;
}

.topHead {
    flex: 0 100%;
    display: flex;
    flex-flow: column nowrap;
    //height: 2000px;
    color:rgb(76, 129, 243);
    background:rgb(76, 129, 243);
  
}

/*.contentSide {
    flex: 1;
    border: 1px solid #d8d8d8;
}*/

.logo {
    width: 300px;
    height: 32px;
    //background:rgba(0, 119, 255, 0.801);
    margin: 16px 200px 16px 0;
    float: left;
    font-size: 36px;
    line-height: 0.9;
    font-family: KaiTi_GB2312;
    font-style: italic;
    
  }
  .header{
      background: white;
  }