<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserDao">

    <resultMap id="user" type="com.example.demo.entity.User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="name"/>
        <result column="user_sex" property="sex"/>
        <result  column="user_age" property="age"/>
        <result column="user_address" property="address"/>
        <result column="user_phone" property="phone"/>
        <result column="user_count" property="count"/>
        <result column="user_password" property="password"/>
        <result column="user_role" property="role"/>
    </resultMap>

    <select id="getUsers" resultMap="user">
      select
      user_id,
      user_name,
      user_sex,
      user_age,
      user_address,
      user_phone,
      user_count,
        user_password
      from user where user_role=1;
    </select>

    <delete id="deleteUserById" >
        delete from user
        where user_id=#{userId}
    </delete>

    <insert id="addUser">
        insert into
        user(user_id,
             user_name,
             user_sex,
             user_age,
             user_address,
             user_phone,
             user_count,
             user_role,
             user_password)
        values(#{id},
               #{name},
               #{sex},
               #{age},
               #{address},
               #{phone},
                0,
                1,
               #{password}
                )
    </insert>

</mapper>